html {
    background-color: lightblue;
}

h1{
    margin:20px 0px 20px 0px;
    font-size: 60px;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    color: red;
    text-shadow: 5px 5px 6px lightblue;
}

h2,p,li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 2px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

img{
    width: 500px;
    border: 5px solid lightblue;
    display: block;
    margin: 0 auto;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color:white;
    padding: 0 20px 20px 20px;
    border: 5px solid red;
  }

/*ul, p, h1 {
    color: red;
    width: 450px;
  }



a:hover{
    width: 100px;
    color: navy;
}*/
